node_modules
npm-debug.log*
.DS_Store
.env
.env.local
.expo
dist
coverage
**/target/
packages/backend/.env
packages/mobile/.env
packages/backend/node_modules
packages/mobile/node_modules
packages/backend/.npm
packages/mobile/.npm
packages/backend/.cache
packages/mobile/.cache
